*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
 font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

/* .main-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
} */
/* BEGINNING OF FIRST SECTION */
.first-section{
    display: flex;
    position: relative;
      width: 100vw;
  margin-left: calc(-50vw + 50%);
  font-family: 'Oswald', sans-serif;
  justify-content: space-between;
  padding-left: 65px;
  padding-top: 50px;
  padding-right: 65px;
  /* background-color: grey; */
  min-height: 10vh;
}

.first-section-image{
    width: 5%;
}

.first-section-image img{
    width: 100%;
}

.first-section-b {
    gap: 50px;
    display: flex;
    /* flex-direction: column; */
 
}

.first-section-b a{
 font-family: 'Oswald', sans-serif;
font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
/* ENDING OF FIRST SECTION */



/* BEGINNING OF SECOND SECTION */

.second-section{
    display: flex;
         width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  margin-top: 100px;
  /* top: 90%; */
  padding-right: 30px;

  /* background-color: grey; */
}

.second-one{
    /* background-color: blue; */
    width: 45%;
    min-height: 30vh;
 font-family: 'Oswald', sans-serif;
 /* padding-left: 19%; */
 margin-top: 5rem;
 position: absolute;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 z-index: 2;

}

.explore-button{
    margin-top: 7%;
    margin-right: 18%;
    display: flex;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 17px;
 font-family: 'Oswald', sans-serif;
    width: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items:flex-start;
    font-weight: 500;
    /* min-height: 30%; */
    padding-left: 20px;
    border: none;
}

.second-one p{
    font-size: 83px;
    font-weight:800;
    line-height: 90px;
}

.second-two{
    margin-left: 40%;
}
.second-two-a{
    z-index: -1;
    width: 60%;
    /* margin-top: 7rem; */
    position: relative;
}
.second-two-b{
    /* z-index: 100; */
    width: 15%;
    position: absolute;
    margin-left: -13rem;
    margin-top: 3rem;
    z-index: -1;
    flex: 1;
   
}
.second-two-c{
    /* z-index: 100; */
    flex: 1;
    position: absolute;
    width: 30%;
    /* z-index: 100; */
    margin-top: 5rem;
}

.second-three{
    display: flex;
    width: 2%;
    height: auto;
    /* min-height: 30vh; */
    position: relative;
    /* justify-content:right; */
    gap: 5px;
    padding-top: 10rem;
    flex-direction: column;
    /* left: 5rem; */
    /* background-color: yellow; */
}

.second-three-a{
    width: 100%;
    height: auto;
}
.second-three-b{
    height: auto;
        width: 100%;

}

.second-three-c{
    height: auto;
        width: 100%;

}

.second-three-d{
    height: auto;
        width: 100%;

}

.second-last{
    display: block;
    position: absolute;
    /* margin-right: 30rem; */
   align-items: center;
   right: 42%;
   bottom: 10%;
}
.second-four{
    position: absolute;
    display: flex;
    transform: rotate(90deg); 
    gap: 15px;
    bottom: 20%;
 font-family: 'Oswald', sans-serif;
}
.second-four a{
text-decoration: none;
color: black;

}

@media (max-width: 1200px) {
  
/* BEGINNING OF SECOND SECTION */

.second-section{
    display: flex;
         width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  top: 50%;
  padding-right: 30px;

  /* background-color: grey; */
}

.second-one{
    /* background-color: blue; */
    width: 45%;
    min-height: 30vh;
 font-family: 'Oswald', sans-serif;
 /* padding-left: 19%; */
 margin-top: 5rem;
 position: absolute;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 z-index: 2;

}

.explore-button{
    margin-top: 7%;
    margin-right: 22%;
    display: flex;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 17px;
 font-family: 'Oswald', sans-serif;
    width: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items:flex-start;
    font-weight: 500;
    /* min-height: 30%; */
    padding-left: 20px;
    border: none;
}

.second-one p{
    font-size: 83px;
    font-weight:800;
    line-height: 90px;
}

.second-two{
    margin-left: 40%;
}
.second-two-a{
    z-index: -1;
    width: 60%;
    /* margin-top: 7rem; */
    position: relative;
}
.second-two-b{
    /* z-index: 100; */
    width: 15%;
    position: absolute;
    margin-left: -13rem;
    margin-top: 3rem;
    z-index: -1;
    flex: 1;
   
}
.second-two-c{
    /* z-index: 100; */
    flex: 1;
    position: absolute;
    width: 30%;
    /* z-index: 100; */
    margin-top: 5rem;
}

.second-three{
    display: flex;
    width: 2%;
    height: auto;
    /* min-height: 30vh; */
    position: relative;
    /* justify-content:right; */
    gap: 5px;
    padding-top: 10rem;
    flex-direction: column;
    /* left: 5rem; */
    /* background-color: yellow; */
}

.second-three-a{
    width: 100%;
    height: auto;
}
.second-three-b{
    height: auto;
        width: 100%;

}

.second-three-c{
    height: auto;
        width: 100%;

}

.second-three-d{
    height: auto;
        width: 100%;

}

.second-last{
    display: block;
    position: absolute;
    width: 8%;
    /* margin-right: 30rem; */
   align-items: center;
   right: 45%;
   bottom: 9%;
}
}
/* ENDING OF SECOND SECTION */



/* BEGINNNING OF THIRD SECTION */
.third-scroll-wrapper {
  width: 100%;
  /* overflow: hidden; */
  /* background: #f5f5f5; */
  position: relative;
  padding: 40px 0;
 font-family: 'Oswald', sans-serif;

}

.third-scroll-track {
  display: flex;
  width: max-content;
  animation: scrollText 15s linear infinite;
}

.third-scroll-track span {
  font-size: 200px;
  /* font-weight: 700; */
  color: transparent;
  -webkit-text-stroke: 1px #bbced6;
  font-weight: 550;
  /* white-space: nowrap; */
  margin-right: 100px;
}

/* 🔥 The magic */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ENDING OF THIRD SECTION */

/* BEGINNING OF FOURTH SECTIO */
.fourth-section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: auto;
    /* background-color: blue; */
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
 font-family: 'Oswald', sans-serif;
 margin-top: 3rem;
}

@media (max-width: 1200px){
  .fourth-section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 50vh;
    position: relative;
    left: 10%;
    /* background-color: blue; */
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
 font-family: 'Oswald', sans-serif;
}  
}
/* ENDING OF FOURTH SECTION */

/* BEGINNING OF FIFTH SECTION */

.fifth-section{
    max-width: 1200px;
      width:   100%;
    margin: 0 auto;
    min-height: auto;
    /* background-color: blue;   */
    display: flex;
    /* position: relative; */
    /* justify-content: space-between; */
    gap: 5%;
    margin-top: 80px;
    margin-bottom: 10rem;
    /* top: 50%; */

}
.fifth-one{
    width: 30%;
    /* font-size: 14px; */
}
.fifth-about{
    font-weight: 700;
    padding-bottom: 10px;
}
.fifth-lorem{
    /* font-weight: 100; */
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 14px;
}

.fifth-two{
    width: 30%;
    /* font-size: 14px; */
}
.fifth-our-goal{
    padding-bottom: 10px;
    font-weight: 700;
}
.fifth-two-lorem{
    /* font-weight: 100; */
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 14px;
}

.fifth-three{
    width: 15%;
    /* font-size: 14px; */
}
.fifth-exibitions{
    padding-bottom: 10px;
    font-weight: 700;
}
.fifth-three-lorem{
    /* font-weight: 100; */
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 14px;
}
@media (max-width: 1200px){
  .fifth-section{
    max-width: 1200px;
      width:   100%;
    margin: 0 auto;
    min-height: auto;
    /* background-color: blue;   */
    display: flex;
    /* position: relative; */
    /* justify-content: space-between; */
    gap: 5%;
    margin-top: 80px;
    margin-bottom: 10rem;
    position: relative;
    left: 10%;
    /* top: 50%; */

}  
}
/* .fifth-one p{
    font-weight: 300;
    font-size: 14px;
} */
/* ENDING OF FIFTH SECTION */

/* BEGINNING OF SIXTH SECTION */
.sixth-section{
         position: relative;
      width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: 190px;
  /* left: 13%; */
    /* min-height: auto; */
    /* font-family: 'Open Sans', sans-serif; */
 font-family: 'Oswald', sans-serif;
    /* background-color: green; */
    font-weight: 600;
    display: flex;
    flex: 1;
}

.sixth-one{
  width: 30%; 
  height: auto;
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  cursor: pointer;  
}

.sixth-one img{
  display: block;
    width: 100%;
    height: auto;
}

.sixth-one-a{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  padding: 40px;

  /* Start hidden */
  opacity: 0;
  transition: opacity 0.4s ease;   
}

.sixth-one-a p {
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.market{
    font-size: 12px;
    font-weight: 200;
}

.sixth-one:hover .sixth-one-a {
  opacity: 1;
}

.sixth-one:hover .sixth-one-a p {
  transform: translateY(0);
    /* display: flex; */

}

.sixth-two{
    width: 30%; 
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  cursor: pointer;  
}

.sixth-two img{
  display: block;
    width: 100%;
    height: auto;
}

.sixth-two-a{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  padding: 40px;

  /* Start hidden */
  opacity: 0;
  transition: opacity 0.4s ease;   
}

.sixth-two-a p {
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.market{
    font-size: 12px;
    font-weight: 200;
}

.sixth-two:hover .sixth-two-a {
  opacity: 1;
}

.sixth-two:hover .sixth-two-a p {
  transform: translateY(0);
    /* display: flex; */

}
/* ENDING OF SIXTH SECTION */

/* BEGINNING OF SEVENTH SECTION */

.seventh-section{
        /* max-width: 1200px; */
               position: relative;
      width: 100vw;
  margin-left: calc(-50vw + 50%);
    padding-left: 190px;
    /* min-height: auto; */
    /* font-family: 'Open Sans', sans-serif; */
 font-family: 'Oswald', sans-serif;
    /* background-color: green; */
    font-weight: 600;
    display: flex;
}

.seventh-one{
      width: 30%; 
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  cursor: pointer;  
}

.seventh-one img{
  display: block;
    width: 100%;
    height: auto;
}

.seventh-one-a{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  padding: 40px;

  /* Start hidden */
  opacity: 0;
  transition: opacity 0.4s ease;   
}

.seventh-one-a p {
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.market{
    font-size: 12px;
    font-weight: 200;
}

.seventh-one:hover .seventh-one-a {
  opacity: 1;
}

.seventh-one:hover .seventh-one-a p {
  transform: translateY(0);
    /* display: flex; */

}

.seventh-two{
      width: 30%;  
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  cursor: pointer;  
}

.seventh-two img{
  display: block;
    width: 100%;
    height: auto;
}

.seventh-two-a{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  padding: 40px;

  /* Start hidden */
  opacity: 0;
  transition: opacity 0.4s ease;   
}

.seventh-two-a p {
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.market{
    font-size: 12px;
    font-weight: 200;
}

.seventh-two:hover .seventh-two-a {
  opacity: 1;
}

.seventh-two:hover .seventh-two-a p {
  transform: translateY(0);
    /* display: flex; */

}



.seventh-three{
      width: 30%;  
  position: relative;
  /* width: 400px; */
  overflow: hidden;
  cursor: pointer;  
}

.seventh-three img{
  display: block;
    width: 100%;
    height: auto;
}

.seventh-three-a{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  padding: 40px;

  /* Start hidden */
  opacity: 0;
  transition: opacity 0.4s ease;   
}

.seventh-three-a p {
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.market{
    font-size: 12px;
    font-weight: 200;
}

.seventh-three:hover .seventh-three-a {
  opacity: 1;
}

.seventh-three:hover .seventh-three-a p {
  transform: translateY(0);
    /* display: flex; */

}

/* ENDING OF SEVENTH SECTION */
